@font-face {
  font-family: "Inter";
  font-weight: 300;
  src: url("./assets/Inter/Inter_18pt-Regular.ttf");
}
@font-face {
  font-family: "Inter";
  font-weight: 500;
  src: url("./assets/Inter/Inter_18pt-Medium.ttf");
}
@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: url("./assets/Inter/Inter_18pt-Bold.ttf");
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  padding: 1rem;
  display: block;
}
body {
  --offset-amount: 0%;
  overflow: hidden;
}
.main {
  width: 1000vw;
  height: 100vh;
  overflow: hidden;
  min-height: 100vh;
  line-height: 1;
  display: flex;
  transition: transform 200ms;
  transform: translateX(var(--offset-amount));
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  font-family: "Inter", sans-serif;
}
html {
  --font-light: #fff;
  --font-dark: #000;
  --bg-main: #ffdfdf;
  --accent1: rgb(253, 151, 146);
  --accent2: #7c476c;
  --accent3: #e6d379;
  --dark1: #4a4240;
  --accent4: #c9d1a8;
  min-height: 100vh;
  background-image: url(./assets/bg.webp);
  background-size: 10%;
  background-color: var(--bg-main);
  overscroll-behavior: none;
  background-blend-mode: multiply;
  overflow: hidden;
}

section {
  --section-padding-x: 1rem;
  --section-padding-y: 4rem;
  height: calc(100vh - var(--section-padding-y) * 2);
  overflow: scroll;
  width: calc(100vw - var(--section-padding-x) * 2);
  padding: var(--section-padding-y) var(--section-padding-x);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}
.wrapper {
  max-width: 500px;
  padding: 2rem;
  margin: auto;
  border-left: 7px solid var(--accent2);
  background-color: #fff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 0px 4px 4px 0px;
}

#intro {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
h1 {
  text-align: center;
}
p {
  max-width: 400px;
  line-height: 1.5em;
  margin: auto;
}
button {
  background-color: var(--accent2);
  border: transparent;
  color: var(--font-light);
  padding: 1rem;
  border-radius: 4px;
  display: block;
  width: fit-content;
  margin: auto;
  font-weight: 500;
}
button:hover {
  cursor: pointer;
}
button.link-style {
  background-color: transparent;
  color: var(--accent2);
  display: inline;
  padding: 0;
  text-decoration: underline;
  font-size: 1rem;
}
input:focus-visible,
label:has(input:focus-visible),
button:focus-visible {
  outline: 2px solid black;
  outline-offset: 2px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
}
.input-wrapper.horizontal {
  gap: 1rem;
}
.grid-2,
.grid-3 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}
#response .wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#response p {
  opacity: 0.5;
  margin: 0;
}

legend {
  margin-bottom: 1.5rem;
}
legend,
.input-wrapper:has(input[type="range"]) label {
  font-size: 1.125rem;
}
.input-wrapper label {
  padding: 0.5rem;
  border: 2px solid var(--accent2);
  border-radius: 4px;
  text-align: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.input-wrapper.range label {
  border: none;
  cursor: auto;
  text-align: left;
}
input[type="radio"],
input[type="checkbox"] {
  opacity: 0;
  height: 0;
  margin: 0;
  padding: 0;
}
label:has(input[type="radio"]:checked) {
  color: var(--font-light);
  background-color: var(--accent2);
}

label:has(input[type="checkbox"]) {
  padding: 0.5rem;
  border: none;
  display: block;
  position: relative;
  text-align: center;
  display: block;
  user-select: none;
  border: 2px solid var(--accent2);
  border-radius: 4px;
  text-align: left;
}
label:has(input[type="checkbox"]) span {
  margin-left: 2.5rem;
}

label:has(input[type="checkbox"])::after,
label:has(input[type="checkbox"])::before {
  content: "";
  border: 2px solid var(--accent2);
  color: var(--accent2);
  border-radius: 4px;
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 10px;
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
  border-radius: 0;
}

label:has(input[type="checkbox"])::before {
  display: block;
  --checkbox-size: 14px;
  height: 100%;
  margin-left: 1.5rem;
}
label:has(input[type="checkbox"])::after {
  display: none;
}
label:has(input[type="checkbox"]:checked)::after {
  display: block;
  --checkbox-size: 20px;
  height: var(--checkbox-size);
  width: var(--checkbox-size);
  border: none;
  left: 7px;
  border-radius: 2px;
  background-color: var(--accent2);
  top: 0;
  bottom: 0;
  margin: auto;
}
.range-value {
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5rem 0 1rem 0;
}
#response .wrapper {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
#selected-response p {
  opacity: 1;
  font-size: 1.25rem;
  border: 2px solid var(--accent2);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 2px 1px;
  background-color: #FFF;
}
.response-list {
  display: none;
}
@media (min-width: 600px) {
  .input-wrapper.horizontal {
    flex-direction: row;
  }
  .grid-2 {
    grid-template-columns: 1fr 1fr;
  }
  .grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
